<h1> Ok </h1>
<!--<nav>
    <ul>
        <li><a href="/{{ lang }}">Français</a></li>
        <li><a href="/{{ lang }}">English</a></li>
        <li><a href="/{{ lang }}">Español</a></li>
    </ul>
</nav>

<h1>{{ pageTitle }}</h1> <!-{{ variable }} dans une balise->

<p>{{ Title }}</p>

<img src="img/{{ lang }}" />-->